name: Deploy Image CI
on:
  push:
    tags:
      - "*"
permissions:
  contents: write
concurrency:
  group: "docker-image"
  cancel-in-progress: true
env:
  DOCKER_BUILDKIT: "1"
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate repository name
        run: |
          echo "REPOSITORY_PATH=$( echo ${GITHUB_REPOSITORY} | tr '[:upper:]' '[:lower:]' )" >> ${GITHUB_ENV}
          echo "REPOSITORY_SHA=$( echo ${GITHUB_SHA} | cut -c 1-7 )" >> ${GITHUB_ENV}
      - name: Build and Push Stable
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            VERSION=${{ github.ref_name }}
            IMAGE_VERSION=stable-slim
          tags: |
            ghcr.io/${{ env.REPOSITORY_PATH }}:v${{ github.ref_name }}
            ghcr.io/${{ env.REPOSITORY_PATH }}:v${{ github.ref_name }}-stable-slim
            ghcr.io/${{ env.REPOSITORY_PATH }}:${{ env.REPOSITORY_SHA }}
            ghcr.io/${{ env.REPOSITORY_PATH }}:stable-slim
            ghcr.io/${{ env.REPOSITORY_PATH }}:latest
      - name: Build and Push Unstable
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: "VERSION=${{ github.ref_name }}\nIMAGE_VERSION=unstable-slim            \n"
          tags: "ghcr.io/${{ env.REPOSITORY_PATH }}:v${{ github.ref_name }}\nghcr.io/${{ env.REPOSITORY_PATH }}:v${{ github.ref_name }}-unstable-slim            \nghcr.io/${{ env.REPOSITORY_PATH }}:${{ env.REPOSITORY_SHA }}\nghcr.io/${{ env.REPOSITORY_PATH }}:unstable-slim\n"
      - name: GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: false
          prerelease: false
          tag_name: ${{ github.ref_name }}
          release_name: v${{ github.ref_name }}
          body_path: CHANGELOG.md
