name: Deploy Image CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - "*"
  release:
    types: [created]

concurrency:
  group: "docker-image"
  cancel-in-progress: true

env:
  DOCKER_BUILDKIT: "1"

jobs:
  docker:
    strategy:
      matrix:
        arch: [linux/amd64, linux/arm64/v8]
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Generate repository name
        run: |
          echo "REPOSITORY_PATH=$( echo ${GITHUB_REPOSITORY} | tr '[:upper:]' '[:lower:]' )" >> ${GITHUB_ENV}
          echo "REPOSITORY_SHA=$( echo ${GITHUB_SHA} | cut -c 1-7 )" >> ${GITHUB_ENV}
      -
        name: Build and Push
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: ${{ matrix.arch }}
          push: ${{ github.event_name == 'release' && github.event.action == 'created' }}
          tags: |
            ghcr.io/${{ env.REPOSITORY_PATH }}:v${{ github.event.release.tag_name }}
            ghcr.io/${{ env.REPOSITORY_PATH }}:${{ env.REPOSITORY_SHA }}
            ghcr.io/${{ env.REPOSITORY_PATH }}:latest
